<div class="row temple">
    <div class="col-lg-7">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h2>{{ temple?.name }}</h2>
            <div class="pull-left">
                <img
                 [src]="temple?.imageUrl" alt="{{ temple?.name }}" class="img-responsive" *ngIf="temple?.imageUrl">
            </div>
            <div class="pull-right btn-toolbar">
                <a [routerLink]="['id']" class="btn btn-primary">Edit</a>
                <a class="btn btn-danger" (click)="onDelete()">Delete</a>
            </div>
        </div>
        <div class="panel-body">
            <div class="list-group-item-heading">
                Address: {{ temple?.address }}
            </div>
            <div class="list-group-item-heading">
                Phone: {{ temple?.phone }}
            </div>
            <div *ngIf="temple.group && temple.group.length > 0">
                <h2>Group Temples:</h2>
                <ul>
                    <li *ngFor="let groupTemple of temple.group">
                        <p>{{ groupTemple.name }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

