.title {
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .margin-left-right{
    margin-left:1rem;
    margin-right:1rem;
  }
  
  .pad-left-right{
    margin-left:1rem;
    margin-right:1rem;
  }
  .box{
    width:20rem;
  }
  /*.box2{
    width: 15rem;
    
  }*/
  
  .document-detail {
    align-content: center;
    margin-right: -60px;
    margin-left: 2px;
    /*margin-right: 1rem;
    margin-left: -3px;*/
    /*width: 20rem;*/
    

  }
  